@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .navbar-link {
    @apply text-primary-700 hover:text-primary-900 transition-colors;
  }

  .navbar-button-link {
    @apply bg-accent-500 text-white px-4 py-2 rounded-md hover:bg-accent-600 transition-colors;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
